.footer__contact {
    max-width: 100%;
    font-size: 25px;
    line-height: 120%;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding: 2px 15px 0;
    text-decoration: none;
    transition: ease 1s;
}

.footer__contact:hover {
    opacity: 0.5;
}

@media(max-width: 1279px) {
    .footer__contact {
        padding: 2px 14px 6px;
    }
}

@media(max-width: 767px) {
    .footer__contact {
        line-height: 125%;
        padding: 2px 8px 16px;
    }
}