.footer {
    max-width: 100%;
    padding: 2px 48px 24px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

@media(max-width: 1023px) {
    .footer {
        padding: 18px 24px 24px;
    }
}

@media(max-width: 880px) {
    .footer {
        padding: 14px 14px 16px;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }
}
